
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="../../assets/images/IMG_4264.jpg" style="width:100%">
  <a routerLink="/home" class="w3-bar-item w3-button w3-padding-large" routerLinkActive #rla1="routerLinkActive" [ngClass]="rla1.isActive?'w3-black':'w3-hover-black'">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a routerLink="/about" class="w3-bar-item w3-button w3-padding-large" routerLinkActive #rla2="routerLinkActive" [ngClass]="rla2.isActive?'w3-black':'w3-hover-black'">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a routerLink="/projects" class="w3-bar-item w3-button w3-padding-large" routerLinkActive #rla3="routerLinkActive" [ngClass]="rla3.isActive?'w3-black':'w3-hover-black'">
    <i class="fa fa-tasks w3-xxlarge"></i>
    <p>PROJECTS</p>
  </a>
  <a routerLink="/contact" class="w3-bar-item w3-button w3-padding-large" routerLinkActive #rla4="routerLinkActive" [ngClass]="rla4.isActive?'w3-black':'w3-hover-black'">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a routerLink="/home" class="w3-bar-item w3-button" style="width:25% !important" routerLinkActive #rla11="routerLinkActive" [ngClass]="rla11.isActive?'w3-black':'w3-hover-black'">HOME</a>
    <a routerLink="/about" class="w3-bar-item w3-button" style="width:25% !important" routerLinkActive #rla22="routerLinkActive" [ngClass]="rla22.isActive?'w3-black':'w3-hover-black'">ABOUT</a>
    <a routerLink="/projects" class="w3-bar-item w3-button" style="width:25% !important" routerLinkActive #rla33="routerLinkActive" [ngClass]="rla33.isActive?'w3-black':'w3-hover-black'">PROJECTS</a>
    <a routerLink="/contact" class="w3-bar-item w3-button" style="width:25% !important" routerLinkActive #rla44="routerLinkActive" [ngClass]="rla44.isActive?'w3-black':'w3-hover-black'">CONTACT</a>
  </div>
</div>
